{% extends 'base.html.twig' %}

{% block title %}Liste de mes réservations{% endblock %}

{% block body %}
<div class="container mt-5">

<h1 class="text-center">Mes réservations</h1>

<div class="bg-light p-5 my-5">
    <h2 class="h4">Retrouvez ici toutes vos réservations</h2>
</div>

{% for booking in app.user.bookings %}
<div class="row border-bottom border-light mt-5">
    <div class="col-4">
        <img src="{{booking.ad.coverImage}}" alt="{{booking.ad.title}}" class="img-fluid"/>
        {% set comment = booking.ad.commentFromAuthor(app.user) %}
        {% if comment is not null %}
            <strong>Note : </strong>{% include 'include/rating.html.twig' with {'rating': comment.rating } %}
        {% else %}
            <p clas="my-3">Vous n'avez pas encore donné votre avis pour ce séjour.
            <a href="{{path('booking_show',{'id':booking.id})}}#comment">Je donne mon avis</a></p>
        {% endif %}
    </div>
    <div class="col-8 mb-3">
        <h4>{{booking.ad.title}}</h4>
        <p>Réservation n° {{booking.id}}</p>
        <p>Du {{booking.startDate| date('d/m/Y')}} au {{booking.endDate| date('d/m/Y')}}</p>
        <p>Pour un montant de {{booking.amount}} &euro;</p>
        <a href="{{path('booking_show',{'id':booking.id})}}" class="btn btn-info">+ Détails</a>
    </div>
</div>
{% endfor %}

</div>
{% endblock %}