{% extends 'base.html.twig' %}

{% block title %}Réservation N°{{booking.id}}{% endblock %}

{% block body %}
<main class="container">
    <h1>Réservation n°:{{booking.id}}</h1>
    <h2><em><a href="{{path("ads_single",{"slug":booking.ad.slug})}}">{{booking.ad.title}}</a></em></h2>

{# si requete http en cours(d'où le app.) #}
    {% if app.request.query.get ('alert')%}
    <div class="alert alert-success">
        <h4 class="alert-heading">Bravo!</h4>
        <p>Votre réservation auprès de <a href="{{path('user_show',{'slug':booking.ad.author.slug})}}">{{ booking.ad.author.fullName}}</a> 
        pour l'annonce <a href="{{path('ads_single',{'slug':booking.ad.slug})}}">{{ booking.ad.title}}</a> est un succès.</p>
    </div>
    {% endif %}

    <div class="row">
            <div class="col">
            <div class="alert alert-light">
            <h3>Détails</h3>
            <dl class="row">
                <dt class="col-md-4">Numéro</dt>
                <dd class="col-md-8">{{ booking.id }}</dd>
                <dt class="col-md-4">Date d'arrivée</dt>
                <dd class="col-md-8">{{ booking.startDate|date('d/m/Y')}}</dd>
                <dt class="col-md-4">Date de départ</dt>
                <dd class="col-md-8">{{ booking.endDate|date('d/m/Y')}}</dd>
                <dt class="col-md-4">Nbre de nuit(s)</dt>
                <dd class="col-md-8">{{ booking.duration}}</dd>
                <dt class="col-md-4">Prix par nuit</dt>
                <dd class="col-md-8">{{ booking.ad.Price}}&euro;</dd>
                <dt class="col-md-4">Montant total</dt>
                <dd class="col-md-8">{{ booking.amount }} &euro;</dd>
                <dt class="col-md-4">Commentaires</dt>
                <dd class="col-md-8">{{ booking.comment }}</dd>
            </dl>

            <h3 class="alert-heading">Propriétaire du bien</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ booking.ad.author.avatar}}" alt="avatar de {{booking.ad.author.fullName}}" class="avatar avatar-medium">
                </div>
                <div class="col-md-9">
                    <h4>
                    <a href="{{path("user_show",{"slug":booking.ad.author.slug})}}">{{booking.ad.author.fullName}}</a>
                    </h4>
                    <span class="badge badge-primary">{{booking.ad.author.ads|length}} {% if booking.ad.author.ads|length > 1 %} annonces {% else %} annonce {% endif %}</span>
                </div>
                <div class="col px-3 mt-3">
                     {{booking.ad.author.description| raw}}
                </div>
            </div>
            </div>
            </div>


        <div class="col">
        <div class="alert alert-light">
            <h3 class="alert-heading">Votre hébergement</h3>
            <h4><a href="{{path("ads_single",{"slug":booking.ad.slug})}}" class="btn btn-secondary">{{booking.ad.title}}</a></h4>
            <img src="{{booking.ad.coverImage}}" alt="{{booking.ad.title}}" class="img-fluid">
            {{booking.ad.content| raw}}
            <a href="{{path("ads_single",{"slug":booking.ad.slug})}}" class="btn btn-outline-info">Détails</a>
        </div>
        
    </div>
</main>
{% endblock %}