{% extends 'base.html.twig' %}
   
    {% block body %}
    <main class="container">

     <div class="jumbotron">
        <h1 class="display-5">{{ title }}</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">+ d'info</a>
        </p>
     </div>

    <h3 class="h1 mt-5">Les meilleures offres</h3>

     <section class="row">

        {# <article class="col-md-4">
            <div class="card  border-warning mb-3">
                <h3 class="card-header">3 chambres <strong>500 &euro;/nuit </strong></h3>
                <img style="height: 200px; width: 100%; display: block;" src="http://placeimg.com/640/480/arch" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">Loft à Londres</h5>
                    <p>Idéal au centre de Londres à côté de Harry Potter et cie. Moldus s'abstenir.</p>
                    <a href="#" class="btn btn-primary">+ d'info</a>
                </div>
                <div class="card-footer text-muted   border-warning">
                    Pas encore notée
                </div>
                </div> 
        </article>
        
        <article class="col-md-4">
            <div class="card  border-success mb-3">
                <h3 class="card-header">Studio <strong>139 &euro;/nuit </strong></h3>
                <img style="height: 200px; width: 100%; display: block;" src="http://placeimg.com/640/480/people" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">Studio en plein centre du Vatican</h5>
                    <p>Niché au coeur de Rome, le vatican ne vous laissera pas indifférent. </p>
                    <a href="#" class="btn btn-primary">+ d'info</a>
                </div>
                <div class="card-footer text-muted   border-success">
                    Pas encore notée
                </div>
                </div> 
        </article>

        <article class="col-md-4">
            <div class="card  border-info mb-3">
                <h3 class="card-header">2 chambres <strong>499 &euro;/nuit </strong></h3>
                <img style="height: 200px; width: 100%; display: block;" src="http://placeimg.com/640/480/nature" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">Cabane dans le vignoble</h5>
                    <p>Pour être au calme dans le vignoble prestigieux et d'excellence Bordelais.</p>
                    <a href="#" class="btn btn-primary">+ d'info</a>
                </div>
                <div class="card-footer text-muted  border-info">
                    Pas encore notée
                </div>
                </div> 
        </article> #}
        {% for data in ads %}
        {% include 'ad/_ad.html.twig' with {'ad':data.annonce} %}
        {% endfor %}
     </section>





     <h3 class="h1 mt-5">Nos meilleurs annonceurs</h3>

     <section class="row">
        {% for data in users %}
        <article class="col">
            <div class="card  border-primary mb-3">
                <h3 class="card-header">{{data.user.fullName}}</h3>
                <div class="card-body">
                <img style="height: 100px; width: auto; display: inline;" src="{{data.user.avatar}}" alt="avatar de {{data.user.fullName}}" class="float-left mr-3">
                    <p>{{data.user.introduction}}</p>
                    <a href="{{path('user_show',{'slug':data.user.slug})}}" class="btn btn-primary">+ d'info</a>
                </div>
                
                </div> 
        </article>

        {# <article class="col-md-3">
            <div class="card  border-primary mb-3">
                <h3 class="card-header">FILL MURRAY</h3>
                <div class="card-body">
                <img style="height: 100px; width: auto; display: inline;" src="https://www.fillmurray.com/640/360" alt="avatar de ..." class="float-left mr-3">
                    <p>Parce que tu le vaux bien.</p>
                    <a href="#" class="btn btn-primary">+ d'info</a>
                </div>
                <div class="card-footer text-muted   border-primary">
                    Pas encore notée
                </div>
                </div> 
        </article>

        <article class="col-md-3">
            <div class="card  border-primary mb-3">
                <h3 class="card-header">FILL MURRAY</h3>
                <div class="card-body">
                <img style="height: 100px; width: auto; display: inline;" src="https://www.fillmurray.com/640/360" alt="avatar de ..." class="float-left mr-3">
                    <p>Parce que tu le vaux bien.</p>
                    <a href="#" class="btn btn-primary">+ d'info</a>
                </div>
                <div class="card-footer text-muted   border-primary">
                    Pas encore notée
                </div>
                </div> 
        </article>

        <article class="col-md-3">
            <div class="card  border-primary mb-3">
                <h3 class="card-header">FILL MURRAY</h3>
                <div class="card-body">
                <img style="height: 100px; width: auto; display: inline;" src="https://www.fillmurray.com/640/360" alt="avatar de ..." class="float-left mr-3">
                    <p>Parce que tu le vaux bien.</p>
                    <a href="#" class="btn btn-primary">+ d'info</a>
                </div>
                <div class="card-footer text-muted   border-primary">
                    Pas encore notée
                </div>
                </div> 
        </article>  #}
        
        {% endfor %}



     </section>

     </main>
    {% endblock %}
       
       

