{% extends 'base.html.twig' %}

{% block title %}
{{ad.title}}
{% endblock %}

{% block body %}
<div class="ad-title" style="background-image:url({{ad.coverImage}})">
    <div class="container">
        <h1>{{ad.title}}</h1>
        <p>{{ad.introduction}}</p>
        <p class="h5">{{ad.rooms}} chambres pour <strong>{{ad.price}} &euro; /nuit</strong></p>
        <a href="{{path('booking_create',{'slug':ad.slug})}}" class="btn btn-warning">Réservez ici !</a>
        {% if app.user and app.user == ad.author %}
        <a href="{{path('ads_edit',{'slug':ad.slug})}}" class="btn btn-info">Modifier l'annonce</a>
        <a href="{{path('ads_delete',{'slug':ad.slug})}}" class="btn btn-danger" onclick="return confirm(`Cette action est irrévocable`)">Supprimer l'annonce</a>
        {% endif %}
    </div>
</div>

<div class="container">
<div class="row">
<div class="col-md-8 mb-3">{{ad.content|raw}}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    {% for image in ad.images %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></li>
    {% endfor %}
    </ol>

    <div class="carousel-inner">
    {# relation one to many pour faire une boucle et récupérer les données #}
    {% for image in ad.images %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
        <img src="{{image.url}}" class="d-block w-100" alt="{{ad.title}}">
        <div class="carousel-caption d-none d-md-block">
            <h5>{{ad.title}}</h5>
            <p>{{image.caption}}</p>
        </div>
        </div>
    {% endfor %}
    </div>
    
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
    </a>
    </div>

    {# pour les commentaires #}
<hr/>
{% if ad.comments| length >0 %}
<h3>Commentaires des voyageurs</h3>
<div class="alert alert-info">
    <h4 class="alert-heading h5">
    <div class="row align-items-center">
        <div class="col-8">
        Note globale données par les voyageurs:<br/>
        </div>
        <div class="col-4">
         {% include 'include/rating.html.twig' with {'rating': ad.averageRatings} %}
         <br/>
        <small>Nbr d'avis: {{ ad.comments|length }}</small>
        </div>
    </div>
    </h4>
</div>
{% for comment in ad.comments %}
    <div class="bg-light-rounded">
        <p><strong>{{ comment.author.fullName }}</strong> a dit : </p>
        <blockquote>{{ comment.content }}</blockquote>
        <p>Note donée: {% include 'include/rating.html.twig' with {'rating' : comment.rating } %}</p>
    </div>
{% endfor %}
{% else %}
<h3 class="h6">Cette annonce n'a pas encore de commentaire.</h3>
{% endif %}

</div>


<div class="col"> 
{# on crée une variable pour eviter de répeter ad.author, on ecrira a
ex mg src="{{ ad.author.avatar }}" devient mg src="{{ a.avatar }}" #}
{# de meme on va créer dans User.php la concatenation  de {{ a.firstname }} {{ a.lastname }} en {{ a.fullName}} #}
{% set a = ad.author %}
    <div class="row">
        <div class="col-4">
            <a href="{{path('user_show',{'slug':a.slug})}}">
            <img src="{{ a.avatar }}" alt="{{ a.fullName}}" class="avatar avatar-medium">
            </a>
        </div>

        <div class="col">
            <a href="{{path('user_show',{'slug':a.slug})}}">
            <h3>{{ a.fullName}}</h3>
            </a>
            <span class="badge badge-warning">{{ a.ads| length }}{% if a.ads| length >1 %} annonces {% else %} annonce {% endif %}</span>
        </div>
    </div>

    <div class="col py-3">
    {{ a.introduction| raw }}
    </div>
</div>
</div>
<div class="verySmall"><a href="https://icons8.com/icon/38864/étoile">Étoile icon by Icons8</a></div>
</div>

{% endblock %}